<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">Share Your Music</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#/">HOME</a></li>
      <li><a href="#/about">ABOUT</a></li>
      <li><a href="#/genre">GENERES</a></li>
      <li><a href="#/contact">CONTACT</a></li>
      <li><a href="#/login">LOGIN</a></li>
      <li><a href="#/signUp">SIGN UP</a></li>
    </ul>
  </section>
</nav>