<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">Share Your Music</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#/">HOME</a></li>
      <li>
        <a href="#/genres" data-options="align:left" 
        data-dropdown="drop" class="button">GENERES &raquo;
        </a>
          <ul id="drop" class="[tiny small medium large content]f-dropdown" data-dropdown-content>
            <li><a class="lol" href="#/hiphop">Hip Hop</a>
            </li>
            <li><a class="lol" href="#/r&b">R&B</a></li>
            <li><a class="lol" href="#/pop">POP</a></li>
            <li><a class="lol" href="#/reggae">REGGAE</a></li>
            <li><a class="lol" href="#/rock">ROCK</a></li>
            <li><a class="lol" href="#/country">COUNTRY</a></li>
            <li><a class="lol" href="#/world">WORLD</a></li>
          </ul>
      </li>
      <div class="butt">
      <li><a href="#/signup">Sign Up</a></li>
      </div>
    </ul>
  </section>
</nav>


<section class="container" ui-view></section>