<div class="login">
  <nav class="top-bar" data-topbar role="navigation">
    <section class="top-bar-section">
    <ul class>
      <li><a href="#/home">Home</a></li>
    </ul>
    </section>
  </nav>

  <div class="log">
    <h1>Login</h1>
    <div class="log2">
      <form ng-click="">
        <input placeholder="Username" ng-model="user.user">
        <input placeholder="Password" ng-model="user.pass" type="password">
        <a href="#/dashboard" class="button create">Login</a>
      </form>
    </div>
  </div>
</div>
