
<div>
  <a href="#/">Home</a>
</div>

<div class="add">
  <h1>Create your Get Heard Profile</h1>
  <div class="add2">
    <form ng-submit="addUser(user)">
      <input placeholder="  Your Email" ng-model="user.email">
      <input placeholder="Your Username" ng-model=" user.username">
      <input placeholder="Create Password" ng-model="user.password">
      <input placeholder="Full Name" ng-model="user.fullname">
      <input placeholder="City, State" ng-model="user.location">
      <button class="create">Create</button>
    </form>
    <div class="dis">
      <p class="claimer">
        By creating a profile, you agree to our terms of service and privacy policy.
      </p>
    </div>
    <div class="skip">
      <p class="already">
        Already have an account? <a class="old" href="">Log in</a>
      </p>
    </div>
  </div>

</div>



